{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <div class="container-fluid border">
        
            {% if listing.image_URL %}
                <img src={{ listing.image_URL }} alt="Listing Image" style="max-width: 300px;"><br>
            {% else %}
                <p>No image</p>
            {% endif %}
            <a href="/listing/{{ listing.id }}">{{ listing.title }}
            </a> <br>

            Description: {{ listing.description }}<br>
            Starting bid {{ listing.starting_bit }}<br>
        {% if listing.closed == True %}
            Closed
        {% endif %}
         
        </div>  
    {% endfor %}

    TODO
{% endblock %}