{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        {% if listing.closed != True %}
        <div class="container-fluid border">
            <div class="row">
                <div class="col-4">
            {% if listing.image_URL %}

                <div class="img" >
                <img src={{ listing.image_URL }}  style="max-width: 500px;" height="300"> <br>
                </div>
            {% else %}
                <p>No image</p>
            {% endif %}
                </div>

             <div class="col-7">
             <h3><a href="/listing/{{ listing.id }}" style="color: black;">{{ listing.title }}
            </a> <br></h3>
             {{ listing.description }}<br>
                 <b>Current highest bid:</b> ${{ listing.current_price }}<br>
        {% if listing.closed == True %}
            Closed
        {% endif %}
             </div>
         </div>
        </div>
        {% endif %}
    {% endfor %}


{% endblock %}