{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    Description: {{ listing.description }}
    Starting bid: {{ listing.starting_bit }}
    Current bid: {{ bid.current_bid }}
    <!-- curent price: -->
    {% for comment in comments %}
    <li>Username: {{ comment.user.username }} Comment: {{ comment.comment }}</li>
    {% endfor %}
    {% if user.is_authenticated %}
        
            {% if not watchlist %}
                   <form action="{% url 'watchlist' %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <input type="submit" name="add_to_watchlist" value="Add to my Watchlist">

            </form>
                {% endif %}
            {% for item in watchlist %}
            {% if listing.id != item.listing.id %}
                
            <form action="{% url 'watchlist' %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <input type="submit" name="add_to_watchlist" value="Add to my Watchlist">

            </form>

            {% else %}
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                    <input type="submit" name="remove_from_watchlist" value="Remove from Watchlist">

                </form>
        {% endif %}
        {% endfor %}
        <form>
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <label for="new_bid">Make a bid:</label> <br>
            <input type="number" id="new_bid" name="new_bid"> <br>
            <input type="submit" name="make_a_bid" value="Make a bid">
        </form>
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <label for="comment">Write a comment</label>
            <input type="text" id="comment" name="comment">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input type="submit" name="add_comment" value="write">
        </form>
        
        {% if request.user == listing.creator %}
            <h1>you are creator</h1>
            {% endif %}
    {% endif %}



{% endblock %}