{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    {% if listing.closed == True %}
    <h3>This listing is closed</h3>
    {% if bid.current_winner == request.user %}
    <h3>You are the winner</h3>
    {% endif %}
    Description: {{ listing.description }}
    The final bid: {{ bid.current_bid }}
    {% else %}
        {% if listing.image_URL %}
                <img src={{ listing.image_URL }} alt="Listing Image" style="max-width: 300px;"><br>
            {% else %}
                <p>No image</p>
            {% endif %}

    <h3>
    Description: {{ listing.description }}
    </h3>
    <h5>
    Starting bid: {{ listing.starting_bit }}
    </h5>

    The highest bid so far: {{ bid.current_bid }}

    
    
    <!-- curent price: -->

    {% if user.is_authenticated %}

            {% if not watchlist %}
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">

                    <input type="submit" name="add_to_watchlist" value="Add to my Watchlist" class="btn btn-primary">
                </form>
            {% else %}
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                    <input type="submit" name="remove_from_watchlist" value="Remove from Watchlist" class="btn btn-primary">
                </form>
                {% endif %}

{#            {% for item in watchlist %}#}
{#            {% if listing.id != item.listing.id %}#}
{#                #}
{#            <form action="{% url 'watchlist' %}" method="post">#}
{#                {% csrf_token %}#}
{#                <input type="hidden" name="listing_id" value="{{ listing.id }}">#}
{#                <input type="submit" name="add_to_watchlist" value="Add to my Watchlist">#}
{#            </form>#}
{##}
{#            {% else %}#}
{#                <form action="{% url 'watchlist' %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <input type="hidden" name="listing_id" value="{{ listing.id }}">#}
{#                    <input type="submit" name="remove_from_watchlist" value="Remove from Watchlist">#}
{#                </form>#}
{#        {% endif %}#}
{#        {% endfor %}#}

        {% if listing.creator != request.user %}
        <form action="{% url 'watchlist' %}" method="post"> 
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <label for="new_bid">Make a bid:</label> <br>
            <input type="number" id="new_bid" name="new_bid"> <br>
            <input type="submit" name="make_a_bid" value="Make a bid"class="btn btn-primary">
        </form>
            {% endif %}

        
        {% if request.user == listing.creator %}
            <form action="{% url 'listing'  listing.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <input type="submit" name="close_listing" value="Close the listing"class="btn btn-primary">

            </form>
            </div>
            {% endif %}
        <div class="col">
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <h5>
            <label for="comment" class="form-label">Write a comment</label>
                </h5>
            <input type="text" id="comment" name="comment" class="form-control">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input type="submit" name="add_comment" value="write"class="btn btn-primary">
        </form>
        <h2>Comments:</h2>
        {% for comment in comments %}


                <h5>
    {{ comment.creator.username }}:
                </h5>


         {{ comment.comment }}




    {% endfor %}
    {% endif %}
    {% endif %}



{% endblock %}