{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <h2>New Listing</h2>
        <form action="{% url 'new_listing' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="starting_bit">Starting Bid:</label>
                <input type="number" id="starting_bit" name="starting_bit" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="image_URL">Image URL:</label>
                <input type="url" id="image_URL" name="image_URL" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
